/* 
background: #E5E5E5;
active, hover: #929292
gray-color : #3E3D3D;

small-rectanle-gray: #D9D9D9;
form-name: #B2B2B2
border: 2px solid #E6E6E6

*/

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Zen Dots", cursive;
}
